.convert-in-uppercase {
    margin:50px;
    padding:200px;
    border: 4px solid black
}

.convert-in-uppercase textarea {
    border : 3px solid black;
    width :1000px;
    height : 150px;
}

.convert-in-uppercase button {
    background-color: rgb(209, 231, 243);
    border : 3px solid black;
    border-radius: 6px;
    
    padding:15px;
    margin-top: 15px;
    margin-left: 10px;
    color: rgb(33, 28, 28);
   
}